{% extends 'diseraca/base_index.html' %}

{% block title %}
    Diseraca 2 | Beca
{% endblock %}

{% block nav %}

    <nav>
    <div class="nav-wrapper container">
        <a href="#!" class="brand-logo">Diseraca 2.0</a>
        <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
        <ul class="right hide-on-med-and-down">
            <li>{{ beca.persona.user.first_name }} Cod: {{ beca.persona.user.username }}</li>
            <li><a href="mis_turnos">Mis Turnos</a></li>
            <li><a href="registrar_asistencia" class="tooltipped" data-position="bottom" data-delay="50" data-tooltip="Registrar Asistencia"><i class="material-icons">add_alarm</i></a></li>
            <li><a href="cerrar" class="tooltipped" data-position="bottom" data-delay="50" data-tooltip="Cerrar sesión"><i class="material-icons">exit_to_app</i></a></li>

        </ul>
        <ul class="side-nav" id="mobile-demo">
            <li>
                <div class="userView">
                    <div class="background">
                        <img src="static/img/bg-default.jpg">
                    </div>
                    <span class="white-text name">{{ beca.persona.user.first_name }}</span>
                    <a href="#!name"><span class="white-text name">John Doe</span></a>
                    <a href="#!email"><span class="white-text email">jdandturk@gmail.com</span></a>
                </div>
            </li>

            <li><a href="cerrar">Cerrar Sesión</a></li>
            <li><a href="mis_turnos">Mis Turnos</a></li>
        </ul>
    </div>
  </nav>
{% endblock %}

{% block contenido %}

    <div class="container">
        <div class="card-panel">
            <div class="row" id="msg">
                {% if msg %}
                    <h4 class="accent-1 red-text">{{ msg }}</h4>
                {% endif %}
            </div>

            <div class="row">
                {% if prestamos %}
                    <h4 class="accent-1 red-text">Prestamos</h4>
                    <table class="highlight centered responsive-table">
                        <thead>
                          <tr>
                              <th data-field="Sala">Sala-Edificio</th>
                              <th data-field="Horario">Horario</th>
                              <th data-field="Materia">Materia-Grupo</th>
                          </tr>
                        </thead>
                        <tbody>
                    {% for prestamo in prestamos %}
                        <tr>
                            <td>{{ prestamo.turno_sala.sala.codigo }} - {{ prestamo.turno_sala.sala.edificio.codigo }}</td>
                            <td>{{ prestamo.turno_sala.turno.time_start }} a {{ prestamo.turno_sala.turno.time_end }}</td>
                            <td>{{ prestamo.nombre }}  G-{{ prestamo.grupo }}
                                {% if prestamo.estado == 0 %}
                                    <a href="/llegada_docente?id={{ prestamo.id }}"
                                       class="waves-effect waves-circle waves-light btn-floating secondary-content">
                                        <i class="material-icons">done</i>
                                    </a>
                                {% elif prestamo.estado == 2%}
                                    <a class="waves-effect waves-circle waves-light btn-floating secondary-content red">
                                        <i class="material-icons">not_interested</i>
                                    </a>
                                {% else %}
                                    <a class="waves-effect waves-circle waves-light btn-floating secondary-content green">
                                        <i class="material-icons">done_all</i>
                                    </a>

                                {% endif %}
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                    </table>
                {% else %}
                    <h4 class="accent-1 red-text">No hay prestamos</h4>
                {% endif %}
            </div>

            <div class="row" id="container_edificios">
                {% if edificios %}
                    {% for edificio in edificios %}
                        <div class="col s1">
                            <a class="btn-floating btn-large waves-effect waves-light red" target="_blank"
                               href="ver_horario_edificio?id={{ edificio.id }}" >
                                {{ edificio.codigo }}
                            </a>
                        </div>
                    {% endfor %}

                {% else %}
                    <h3>No hay edificios</h3>

                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}

{% block footet %}
    <div class="footer-copyright">
        <div class="container">
        2017 © Copyright Edwin A. Velasco, Ingenieria de Sistemas
            <div class="right">
                <a class="grey-text text-lighten-4" href="http://ufps.edu.co">
                    UFPS
                </a>
            </div>
        </div>
    </div>
{% endblock %}


{% block init %}
    $('.datepicker').pickadate({
        selectMonths: true, // Creates a dropdown to control month
        selectYears: 1, // Creates a dropdown of 15 years to control year
        min: new Date(),
        max: fecha
    });
{% endblock %}


{% block script %}

{% endblock %}


