{% extends 'diseraca/admin/base_admin.html' %}

{% block nav %}
    <nav class="nav-extended">
        <div class="nav-wrapper container">
            <a href="#!" class="brand-logo">Diseraca 2.0</a>
            <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
            <ul class="right hide-on-med-and-down">
                <li>Admin: {{ admin.user.first_name }}</li>
                <li><a href="horarios" class="tooltipped" data-position="bottom" data-delay="50" data-tooltip="Gestion de Turnos/Edificios/Salas"><i class="material-icons">add_alarm</i></a></li>
                <li><a href="inicio" class="tooltipped" data-position="bottom" data-delay="50" data-tooltip="Prestamo de salas"><i class="material-icons">playlist_add</i></a></li>
                <li><a href="view_becas" class="tooltipped" data-position="bottom" data-delay="50" data-tooltip="Becas/Admin"><i class="material-icons">supervisor_account</i></a></li>
                <li><a href="estadisticas" class="tooltipped" data-position="bottom" data-delay="50" data-tooltip="Estadisticas"><i class="material-icons">insert_chart</i></a></li>
                <li><a href="view_docentes" class="tooltipped" data-position="bottom" data-delay="50" data-tooltip="Docentes"><i class="material-icons">school</i></a></li>
                <li><a href="cerrar" class="tooltipped" data-position="bottom" data-delay="50" data-tooltip="Cerrar sesión"><i class="material-icons">exit_to_app</i></a></li>
            </ul>
            <ul class="side-nav" id="mobile-demo">
                <li><a href="inicio">Prestamos</a></li>
                <li><a href="horarios">Horarios</a></li>
                <li><a href="view_becas">Becas</a></li>
                <li><a href="estadisticas">Estadisticas</a></li>
                <li><a href="view_docentes">Docentes</a></li>
                <li><a href="cerrar">Cerrar Sesión</a></li>
            </ul>
        </div>
        <div class="nav-content container">
            <ul class="tabs tabs-transparent">
                <li class="tab"><a href="#turnos_docentes" class="tooltipped active" data-position="bottom" data-delay="50" data-tooltip="Prestamos de docente">Buscar Prestamos</a></li>
                <li class="tab"><a href="#carga_docente" class="tooltipped" data-position="bottom" data-delay="50" data-tooltip="Carga Academica de Docente">Carga Academica</a></li>
                <li class="tab"><a href="#add_docente" class="tooltipped" data-position="bottom" data-delay="50" data-tooltip="Registrar Docente">Gestion docente</a></li>
            </ul>
        </div>
    </nav>
{% endblock %}

{% block contenido %}
    <div class="container" ng-controller="DocenteAdminContoller">
        <div class="progress" ng-show="preload">
            <div class="indeterminate"></div>
        </div>
        <div class="card-panel" >
            <div id="turnos_docentes" class="col s12">
                <div class="row">
                    <div class="col l10 offset-l1">
                        <form name="newFormTurno" id="newFormTurno" ng-submit="false">
                            <div>
                                <h5 class="center-align">Salas Prestadas</h5>
                                <input type="hidden" name="pk" id="pk" ng-model="newTurno.pk" ng-value="newTurno.pk">
                            </div>
                            <div class="row">
                                <div class=" input-field col l4">
                                    <input placeholder="Fecha Inicio" name="fecha_inicio" id="fecha_inicio" type="text" ng-model="consultaTurnos.fecha_inicio" class="datepicker" required>
                                    <label for="time_start">Fecha Inicio</label>
                                </div>
                                <div class=" input-field col l4">
                                    <input placeholder="Fecha Fin" name="fecha_fin" id="fecha_fin" type="text" ng-model="consultaTurnos.fecha_fin" class="datepicker" required>
                                    <label for="time_start">Fecha Fin</label>
                                </div>
                                <div class=" input-field col l4">
                                    <input placeholder="Codigo" name="docente" id="docente" type="text" ng-model="consultaTurnos.docente" class="validate" required>
                                    <label for="time_start">Codigo del Docente</label>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col l4">
                                    <input class="btn" type="submit" value="Consultar" ng-click="consultarTurnosDocente()">
                                </div>
                                <div class="col l2 green">
                                    Activo
                                </div>
                                <div class="col l4 grey">
                                    Cancelado/entregado
                                </div>
                                <div class="col l2 red">
                                    Anulado
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="row" ng-show="showTableTurnoDocente">
                    <div class="row">
                        <div class="col s6 offset-s3">
                            <h5 class="center">[[docenteView]]</h5>
                        </div>
                    </div>
                    <table class="highlight ">
                            <thead>
                                <tr>
                                    <th>Codigo Mat.</th>
                                    <th>Materia</th>
                                    <th>Para cuando</th>
                                    <th>Sala</th>
                                    <th>Turno</th>
                                    <th>Cuando se presto</th>
                                    <th>Quien lo presto</th>
                                    <th>Ip</th>
                                </tr>
                            </thead>
                            <tbody id="tablaTurnos">
                                <tr class="" ng-repeat="prestamo in listPrestamosDocente" ng-class="{'grey': prestamo.estado==2||prestamo.estado==1, 'green': prestamo.estado==0, 'red': prestamo.estado==3}">
                                    <td>[[ prestamo.cod_materia ]]</td>
                                    <td>[[ prestamo.nom_materia ]]</td>
                                    <td>[[ prestamo.fecha_turno ]]</td>

                                    <td>[[ prestamo.sala ]]</td>
                                    <td>[[ prestamo.turno ]]</td>

                                    <td>[[ prestamo.fecha_prestamo ]]</td>
                                    <td>[[ prestamo.usuario ]]</td>
                                    <td>[[ prestamo.ip ]]</td>
                                </tr>

                            </tbody>
                        </table>
                </div>
            </div>

            <div id="carga_docente" class="col s12">

                <div class="row">
                    <div class="col l6">
                        <form action="save_carga_docentes_csv" method="post" id="form_carga_docente_csv"  enctype="multipart/form-data">
                            <div>
                                <h5 class="center-align">Subida masiva de Carga academica.</h5>
                                {% csrf_token %}
                            </div>
                            <div class="row">
                                <div class="col l8 offset-l2 file-field input-field">
                                    <div class="btn">
                                        <span>Importar CSV</span>
                                        <input type="file" accept="text/csv" uploader-model="file_carga_docente" id="file_carga_docente" name="file_carga_docente" ng-model="fileCargaDocente.file">
                                    </div>
                                    <div class="file-path-wrapper">
                                        <input class="file-path validate" type="text" id="name_file_carga" name="name_file_carga" ng-model="fileCargaDocente.name">
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col l4 offset-l4">
                                    <input class="btn" type="submit" value="Guardar">
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="col l6">
                        <form name="" id="" ng-submit="false">
                            <div>
                                <h5 class="center-align">Buscar carga academica</h5>
                                <input type="hidden" name="pk" id="pk" ng-model="newDocente.pk" ng-value="newDocente.pk">

                            </div>
                            <div class="row">
                                <div class="input-field col l4 offset-l2">
                                    <input placeholder="Codigo" name="codigo_docente_buscar_carga" id="codigo_docente_buscar_carga" type="text" class="validate" required>
                                    <label for="codigo_docente_buscar_carga">Codigo docente</label>
                                </div>
                                <div class="col l4">
                                    <input class="btn" type="submit" value="Buscar" ng-click="buscarCargaDocente()">
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="row" ng-show="listCargaDocenteShow">
                    <div class="row">
                        <div class="col s4">
                            <button class="btn" ng-click="new_register_carga()">Registrar Carga</button>
                        </div>
                        <div class="col s6">
                            <h5>[[ docenteView ]]</h5>
                        </div>

                    </div>

                    <table class="highlight striped">
                        <thead>
                            <tr>
                                <th>Codigo-Grupo</th>
                                <th>Nombre</th>
                                <th>Matriculados</th>
                                <th>Opción</th>
                            </tr>
                        </thead>
                        <tbody id="tablaTurnos">
                            <tr ng-repeat="carga in listCargaDocente">
                                <td>
                                    [[ carga.codigo ]]-[[ carga.grupo | uppercase ]]
                                </td>
                                <td>
                                    [[ carga.nombre ]]
                                </td>
                                <td>
                                    [[ carga.matriculados ]]
                                </td>

                                <td>
                                    <a href="#" ng-click="edit_carga(carga)" class="green-text tooltipped" data-position="bottom" data-delay="50" data-tooltip="Editar Carga">
                                        <i class="material-icons">edit</i>
                                    </a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>

            <div class="col l12" id="add_docente">
                <div class="row">
                    <div class="col l6">
                        <form name="newFormDocente" id="newFormDocente" ng-submit="false">
                            <div>
                                <h5 class="center-align">Docentes</h5>
                                <input type="hidden" name="pk" id="pk" ng-model="newDocente.pk" ng-value="newDocente.pk">
                            </div>
                            <div class="row">
                                <div class=" input-field col l4">
                                    <input placeholder="Codigo" name="codigo_docente" id="codigo_docente" type="text" ng-model="newDocente.persona.codigo" class="validate" required>
                                    <label for="codigo_docente">Codigo</label>
                                </div>
                                <div class=" input-field col l8">
                                    <input placeholder="Nombre" name="nombre_docente" id="nombre_docente" type="text" ng-model="newDocente.persona.nombre" class="validate" required>
                                    <label for="nombre_docente">Nombre</label>
                                </div>
                                <div class="input-field col l6">
                                    <select name="dpto_docente" id="dpto_docente">
                                    </select>
                                    <label for="dpto_docente">Departamento</label>
                                </div>
                                <div class=" input-field col l6">
                                    <input placeholder="Correo" name="email_docente" id="email_docente" type="email" ng-model="newDocente.persona.email" class="validate" required>
                                    <label for="email_docente">Correo</label>
                                </div>
                                <div class=" input-field col l6">
                                    <input placeholder="Telefono" name="tel_docente" id="tel_docente" type="text" ng-model="newDocente.tel" class="validate" required>
                                    <label for="tel_docente">Telefono</label>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col l4 offset-l2">
                                    <input class="btn" type="submit" value="Guardar" ng-click="saveDocente()" id="saveDocente">
                                </div>
                                <div class="col l4">
                                    <input class="btn" type="button" value="Nuevo" ng-click="newDocenteFunct()">
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="col l6">
                        <div class="row">
                            <form name="" id="" ng-submit="buscarDocenteEditar()">
                                <div>
                                    <h5 class="center-align">Buscar docente para editar</h5>
                                    <input type="hidden" name="pk" id="pk" ng-model="newDocente.pk" ng-value="newDocente.pk">
                                </div>
                                <div class="row">
                                    <div class="input-field col l4 offset-l2">
                                        <input placeholder="Codigo" name="codigo_docente_buscar" id="codigo_docente_buscar" type="text" class="validate" required>
                                        <label for="codigo_docente_buscar">Codigo</label>
                                    </div>
                                    <div class="col l4">
                                        <input class="btn" type="submit" value="Buscar" ng-click="buscarDocenteEditar()">
                                    </div>
                                </div>
                            </form>
                        </div>
                        <div class="row">
                            <form action="save_docente_csv" method="post" id="form_docente_csv"  enctype="multipart/form-data">
                                <div>
                                    <h5 class="center-align">Subida masiva de docentes</h5>
                                    {% csrf_token %}
                                </div>
                                <div class="row">
                                    <!--<label for="file_docentes">Seleccionar archivo</label>
                                    <input type="file" accept="text/csv" name="file_docentes" id="file_docentes">
                                    <input type="submit" value="Subir">
                                    -->
                                    <div class="col l8 offset-l2 file-field input-field">
                                        <div class="btn">
                                            <span>Cargar CSV</span>
                                            <input type="file" accept="text/csv" uploader-model="file_docente" id="file_docente" name="file_docente" >
                                        </div>
                                        <div class="file-path-wrapper">
                                            <input class="file-path validate" type="text" id="name_file" name="name_file" ng-model="fileDocentes.name">
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col l4 offset-l4">
                                        <input class="btn" type="submit" value="Guardar">
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    <div class="modal" id="register_carga_docente">
        <div class="modal-content">
            <form id="register_carga_docente_form" ng-submit="false">
                <div>
                    <h5 class="center-align">Registrar carga academica del docente</h5>
                    <input type="hidden" name="docente_carga" id="docente_carga" ng-model="newCargaDocente.profesor">
                    <input type="hidden" name="pk_carga" id="pk_carga" ng-value="edit_carga_obj.id">
                    {% csrf_token %}
                </div>
                <div class="row">
                    <div class="input-field col l6">
                        <select id="carreras_carga_docente" name="carreras_carga_docente" required class="validate" ng-required="true" ng-model="edit_carga_obj.carrera">

                        </select>
                        <label for="edif">Seleccione una carrera</label>
                    </div>
                    <div class="input-field col l6">
                        <input placeholder="Codigo" name="codigo_materia" id="codigo_materia" type="text" required ng-required="true" ng-model="edit_carga_obj.codigo">
                        <label for="codigo_materia">Codigo</label>
                    </div>
                    <div class="input-field col l6">
                        <input placeholder="nombre" name="nombre_materia" id="nombre_materia" type="text" class="validate" required ng-required="true" ng-model="edit_carga_obj.nombre">
                        <label for="nombre_materia">Nombre</label>
                    </div>
                    <div class="input-field col l3">
                        <input placeholder="Grupo" name="grupo_materia" id="grupo_materia" type="text" class="validate" required maxlength="1" ng-required="true" ng-model="edit_carga_obj.grupo">
                        <label for="grupo_materia">Grupo</label>
                    </div>
                    <div class="input-field col l6">
                        <input placeholder="Matriculados" name="matriculados_materia" id="matriculados_materia" type="number" class="validate" required ng-required="true" ng-model="edit_carga_obj.matriculados">
                        <label for="grupo_materia">Matriculados</label>
                    </div>
                </div>
                <div class="row">
                    <div class="col l4">
                        <input class="btn modal-action" type="submit" value="Guardar" ng-click="saveCargaDocente()">
                    </div>
                </div>
            </form>
        </div>
    </div>
    </div>


    <div class="modal" id="msg_inicial">
        <div class="modal-content" >
            <h5>Cargando...</h5>
            <div class="progress" >
                <div class="indeterminate"></div>
            </div>

        </div>
    </div>
{% endblock %}


{% block init %}

    $('.datepicker').pickadate({
        selectMonths: true, // Creates a dropdown to control month
        selectYears: 15, // Creates a dropdown of 15 years to control year,
        today: 'Today',
        clear: 'Clear',
        close: 'Ok',
        closeOnSelect: true, // Close upon selecting a date,
        format: 'yyyy-mm-dd'
      });

    {% if messages %}
        {% for message in messages %}
            if ("Notification" in window){
                let ask = Notification.requestPermission();
                ask.then(permission => {
                    if (permission ==='granted') {
                        let msg = new Notification('Mensaje', {
                            body: "{{ message }}",
                            icon:"/static/img/ufps.jpg"
                        });
                    }
                });
            }
        {% endfor %}
    {% endif %}
    $('.modal').modal();
    $('#msg_inicial').modal('open');
{% endblock %}

{% block script %}
{% endblock %}