{% extends 'diseraca/admin/base_admin.html' %}

{% block nav %}
<nav class="nav-extended">
    <div class="nav-wrapper container">
        <a href="#!" class="brand-logo">Diseraca 2.0</a>
        <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
        <ul class="right hide-on-med-and-down">
            <li>Admin: {{ admin.user.first_name }}</li>
            <li><a href="horarios" class="tooltipped" data-position="bottom" data-delay="50" data-tooltip="Gestion de Turnos/Horarios"><i class="material-icons">add_alarm</i></a></li>
            <li><a href="inicio" class="tooltipped" data-position="bottom" data-delay="50" data-tooltip="Prestamo de salas"><i class="material-icons">playlist_add</i></a></li>
            <li><a href="view_becas" class="tooltipped" data-position="bottom" data-delay="50" data-tooltip="Becas/Admin"><i class="material-icons">supervisor_account</i></a></li>
            <li><a href="estadisticas" class="tooltipped" data-position="bottom" data-delay="50" data-tooltip="Estadisticas"><i class="material-icons">insert_chart</i></a></li>
            <li><a href="view_docentes" class="tooltipped" data-position="bottom" data-delay="50" data-tooltip="Docentes"><i class="material-icons">school</i></a></li>
            <li><a href="cerrar" class="tooltipped" data-position="bottom" data-delay="50" data-tooltip="Cerrar sesión"><i class="material-icons">exit_to_app</i></a></li>
        </ul>
        <ul class="side-nav" id="mobile-demo">
            <li><a href="inicio">Prestamos</a></li>
            <li><a href="horarios">Horarios</a></li>
            <li><a href="view_becas">Becas</a></li>
            <li><a href="estadisticas">Estadisticas</a></li>
            <li><a href="view_docentes">Docentes</a></li>
            <li><a href="cerrar">Cerrar Sesión</a></li>
        </ul>
    </div>
    <div class="nav-content container">
        <ul class="tabs tabs-transparent">
            <li class="tab"><a href="#utilizacion" class="tooltipped active" data-position="bottom" data-delay="50" data-tooltip="Prestamos para clase"><i class="material-icons">work</i></a></li>
            <li class="tab"><a href="#carrera" class="tooltipped" data-position="bottom" data-delay="50" data-tooltip="Sustentaciones"><i class="material-icons">add</i></a></li>
            <li class="tab"><a href="#semestre" class="tooltipped" data-position="bottom" data-delay="50" data-tooltip="Semestres">semestres</a></li>
        </ul>
    </div>
</nav>
{% endblock %}

{% block contenido %}
    <div class="container" ng-controller="EstadisticaAdminContoller">
        <div class="card-panel">
            <div id="utilizacion" class="col s12">
                <div class="row">
                    <div class="input-field col s12">
                        <select name="carga" id="carga_docente" required>

                        </select>
                        <label>Seleccione la materia</label>
                    </div>

                </div>
                <div id="grafico-utilizacion" class="row">

                </div>
            </div>
            <div id="carrera" class="col s12">Test 2</div>
            <div id="semestre" class="col s12">
                <div class="row">
                    <div class="col s8 offset-s2">
                        <form name="" id="" ng-submit="false">
                            <div>
                                <h5 class="center-align">Semestre.</h5>
                                <input type="hidden" name="id" id="id" ng-model="NewSemester.id">
                            </div>
                            <div class="row">
                                <div class=" input-field col l4">
                                    <input placeholder="Semestre" name="semestre" id="semestre" type="text" ng-model="NewSemester.semestre" class="validate" required maxlength="6">
                                    <label for="semestre">Semestre: ejemplo 2018-A</label>
                                </div>
                                <div class=" input-field col l4">
                                    <input placeholder="Fecha Inicio" name="fecha_inicio" id="fecha_inicio" type="text" ng-model="NewSemester.fecha_inicio" class="datepicker" required>
                                    <label for="time_start">Fecha Inicio</label>
                                </div>
                                <div class=" input-field col l4">
                                    <input placeholder="Fecha Fin" name="fecha_fin" id="fecha_fin" type="text" ng-model="NewSemester.fecha_fin" class="datepicker" required>
                                    <label for="time_start">Fecha Fin</label>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col l6">
                                    <input id="buttonNewSemestre" class="btn" type="submit" value="Guardar" ng-click="SaveNewSemester()">
                                </div>
                                <div class="col l6">
                                    <button class="btn" ng-click="clearFormNewSemestre()">
                                        Borrar
                                    </button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="row" ng-show="listSemestres.length > 0">
                    <div class="col s8 offset-s2">
                        <table class="highlight striped">
                            <thead>
                                <tr>
                                    <th>Semestre</th>
                                    <th>Fecha de inicio</th>
                                    <th>Fecha de finalización</th>
                                    <th>Opción</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="semestre in listSemestres">
                                    <td>
                                        [[ semestre.semestre ]]
                                    </td>
                                    <td>
                                        [[ semestre.fecha_inicio ]]
                                    </td>
                                    <td>
                                        [[ semestre.fecha_fin ]]
                                    </td>

                                    <td>
                                        <a href="#" ng-click="editSemestre(semestre)" class="green-text tooltipped" data-position="bottom" data-delay="50" data-tooltip="Editar Carga">
                                            <i class="material-icons">edit</i>
                                        </a>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="row" ng-show="listSemestres.length <= 0">
                    <h5 class="center-align">No hay Semestres registrados</h5>
                </div>

            </div>
        </div>
    </div>
    <script src=""></script>
{% endblock %}


{% block init %}
    $('.datepicker').pickadate({
        selectMonths: true, // Creates a dropdown to control month
        selectYears: 15, // Creates a dropdown of 15 years to control year,
        today: 'Today',
        clear: 'Clear',
        close: 'Ok',
        closeOnSelect: true, // Close upon selecting a date,
        format: 'yyyy-mm-dd'
      });
{% endblock %}

{% block script %}

{% endblock %}