<!DOCTYPE html>
{% load staticfiles %}
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>
        {% block title %}
            Diseraca 2 | Horario
        {% endblock %}
    </title>
    <link type="image/x-icon" rel="shortcut icon" href="{% static 'img/favicon.ico' %}">
    <link href="{% static 'css/material-icons.css' %}" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/materialize2.css' %}">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body id="horarioSalasBody">
    <header>

    </header>

    <main>
        <div class="container" style="width: 90%;">

            <div class="row">
                <div class="col l12 ">
                    <div class="col l4">
                        <h4 class="green-text">{{ edificio.nombre }}</h4>
                    </div>
                    <div class="col l8">
                        <div class="col l3 ">
                            <a class="waves-effect waves-circle waves-light btn-floating secondary-content green lighten-4">

                            </a>
                            <h5>En sala</h5>
                        </div>
                        <div class="col l5">
                            <a class="waves-effect waves-circle waves-light btn-floating secondary-content red lighten-4">

                            </a>
                            <h5>No ha llegado</h5>
                        </div>
                        <div class="col l4">
                            <h5 id="totalAlumnos">Personas: 0</h5>
                        </div>
                    </div>
                </div>

                <div class="col l12" id="tabla_prestamos">
                    {% if prestamos %}
                        <table class="bordered centered">
                            <thead>
                              <tr>
                                  <th data-field="sala">Sala</th>
                                  <th data-field="docente">Docente</th>
                                  <th data-field="materia">Materia</th>
                                  <th data-field="horario">Horario</th>
                              </tr>
                            </thead>

                            <tbody>

                                {% for prestamo in prestamos %}
                                    {% if prestamo.estado == 1 %}
                                        <tr class="green lighten-4">
                                    {% else %}
                                        <tr class="red lighten-4">
                                    {% endif %}

                                        <td><h4>{{ prestamo.turno_sala.sala.codigo }}</h4></td>

                                        {% if prestamo.tipo == 0 %}
                                            <td><h4>{{ prestamo.profesor.persona.user.first_name|lower }}</h4></td>
                                            <td><h4>{{ prestamo.nombre|lower }}: {{ prestamo.codigo }}-{{ prestamo.grupo|upper }}</h4></td>
                                        {% elif prestamo.tipo == 1 %}
                                            <td><h4>{{ prestamo.solicitante }}</h4></td>
                                            <td><h4>Sust. {{ prestamo.carrera.nombre }}</h4></td>
                                        {% elif prestamo.tipo == 2 %}
                                            <td><h4>{{ prestamo.solicitante }}</h4></td>
                                            <td><h4>Curso. {{ prestamo.detalle }}</h4></td>
                                        {% else %}
                                            <td><h4>{{ prestamo.solicitante }}</h4></td>
                                            <td><h4>Reunión. {{ prestamo.detalle }}</h4></td>
                                        {% endif %}
                                        <td>
                                            <h4>
                                                {{ prestamo.turno_sala.turno.time_start|slice:":5" }}
                                                a {{ prestamo.turno_sala.turno.time_end|slice:":5" }}</h4>
                                        </td>

                                        </tr>
                                {% endfor %}

                            </tbody>
                        </table>
                    {% else %}
                        <h2 class="green-text">Libre</h2>
                    {% endif %}
                </div>
            </div>
            <div id="body-horario-sala">

            </div>

        </div>
    </main>

    <footer class="page-footer">
        <!--
        <div class="container">
            <div class="row white-text">
                <div class="col l6 s12">
                    Avenida Gran Colombia No. 12E-96 Barrio Colsag Edificio CREAD piso 3.
                </div>
                <div class="col l3 s12">
                    Tel: 5753256-5776655 ext 301-302
                </div>
                <div class="col l3 s12">
                    Correo: diseraca@ufps.edu.co
                </div>
            </div>
        </div>
        -->
          <div class="footer-copyright">
            <div class="container">
            2017 © Copyright Edwin A. Velasco, Ingenieria de Sistemas
                <div class="right">
                    <a class="grey-text text-lighten-4" href="http://ufps.edu.co">
                        UFPS
                    </a>

                </div>

            </div>
          </div>
    </footer>

    <script type="text/javascript" src="{% static 'js/jquery-2.1.4.min.js' %}"></script>
    <script src="{% static 'js/materialize.min.js' %}"></script>
    <script>
        jQuery(document).ready(function() {
            setInterval('reload({{ edificio.id }})', 25000);
        });

        function reload(edificio) {
            $.ajax({
            type: 'GET',
            url: 'ver_horario_edificio',
            data: {'id':edificio, 'bool':'ok'},
            success: function (data) {
                $('#tabla_prestamos').html(data.data)
                $('#totalAlumnos').html(data.total)

            },
            error: function(data) {
                alert(data);
            }
        });
        return false;
        }

    </script>
</body>
</html>